In [1]:
import pandas as pd
df_income = pd.read_csv(r"C:\train.csv")
df_income.head()

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,country_father,country_mother,country_self,citizenship,business_or_self_employed,fill_questionnaire_veteran_admin,veterans_benefits,weeks_worked_in_year,year,income_level
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000

In [2]:
df_income.shape

(199523, 41)

Seperating missing value columns

In [3]:
df_income_missing=df_income.columns[df_income.isnull().any()].tolist()
df_income_missing

['hispanic_origin',
 'state_of_previous_residence',
 'migration_msa',
 'migration_reg',
 'migration_within_reg',
 'migration_sunbelt',
 'country_father',
 'country_mother',
 'country_self']

In [4]:
df_income['veterans_benefits'].value_counts()

2    150130
0     47409
1      1984
Name: veterans_benefits, dtype: int64

In [5]:
# df_income['industry_code'].value_counts()

In [6]:
df_income.describe()

,age,industry_code,occupation_code,wage_per_hour,capital_gains,capital_losses,dividend_from_Stocks,num_person_Worked_employer,business_or_self_employed,veterans_benefits,weeks_worked_in_year,year,income_level
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,15.352320,11.306556,55.426908,434.71899,37.313788,197.529533,1.956180,0.175438,1.514833,23.174897,94.499672,-43794.199165
std,22.310895,18.067129,14.454204,274.896454,4697.53128,271.896428,1984.163658,2.365126,0.553694,0.851473,24.411488,0.500001,24126.148404
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000,-50000.000000
25%,15.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,94.000000,-50000.000000
50%,33.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,2.000000,8.000000,94.000000,-50000.000000
75%,50.000000,33.000000,26.000000,0.000000,0.00000,0.000000,0.000000,4.000000,0.000000,2.000000,52.000000,95.000000,-50000.000000
max,90.000000,51.000000,46.000000,9999.000000,99999.00000,4608.000000,99999.000000,6.000000,2.000000,2.000000,52.000000,95.000000,50000.000000

Checking quantile range from 0.95 to 1.0

In [7]:
import numpy as np
np.percentile(df_income['wage_per_hour'],[95,96,97,98,99,100])

array([ 495.,  600.,  800., 1000., 1400., 9999.])

In [8]:
np.percentile(df_income['capital_gains'],[94,95,96,97,98,99,100])

array([    0.,     0.,     0.,  2463.,  4931.,  8614., 99999.])

In [9]:
np.percentile(df_income['capital_losses'],[94,95,96,97,98,99,100])

array([   0.,    0.,    0.,    0.,    0., 1887., 4608.])

In [10]:
# import random
np.percentile(df_income['dividend_from_Stocks'],[98,99,100])

array([ 2000.,  4550., 99999.])

In [11]:
df_income['dividend_from_Stocks'].max()

99999

In [12]:
np.percentile(df_income['wage_per_hour'],99)

1400.0

Replacing column values which above 99 percentile values with 99 percentile

In [13]:
# df_income.loc[df_income['wage_per_hour'] > 1400, 'wage_per_hour'] = 1400
# [df_income['wage_per_hour'] is np.percentile(df_income['wage_per_hour'],99)   for i in df_income['wage_per_hour'] if df_income['wage_per_hour'] > 1400]
import numpy as np
df_income["wage_per_hour"] = np.where(df_income["wage_per_hour"] > np.percentile(df_income['wage_per_hour'],99), np.percentile(df_income['wage_per_hour'],99),df_income['wage_per_hour'])

In [14]:
df_income['wage_per_hour'].max()

1400.0

In [15]:
df_income['capital_gains']=np.where(df_income['capital_gains']>np.percentile(df_income['capital_gains'],99),np.percentile(df_income['capital_gains'],99),df_income['capital_gains'])

In [16]:
print("capital gain max {}, min {}".format(df_income['capital_gains'].max(),df_income['capital_gains'].min()))

capital gain max 8614.0, min 0.0

In [17]:
df_income['capital_losses']=np.where(df_income['capital_losses']> np.percentile(df_income['capital_losses'],99),np.percentile(df_income['capital_losses'],99),df_income['capital_losses'])

In [18]:
df_income['capital_losses'].min()
df_income['capital_losses'].max()

1887.0

In [19]:
df_income['dividend_from_Stocks']=np.where(df_income['dividend_from_Stocks']>np.percentile(df_income['dividend_from_Stocks'],99),df_income['dividend_from_Stocks'].quantile(0.99),df_income['dividend_from_Stocks'])

In [20]:
df_income['dividend_from_Stocks'].max()

4550.0

In [21]:
df_income.wage_per_hour.quantile([0.95,0.96,0.97,0.98,0.99,1])

0.95     495.0
0.96     600.0
0.97     800.0
0.98    1000.0
0.99    1400.0
1.00    1400.0
Name: wage_per_hour, dtype: float64

In [22]:
df_income.head()

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,country_father,country_mother,country_self,citizenship,business_or_self_employed,fill_questionnaire_veteran_admin,veterans_benefits,weeks_worked_in_year,year,income_level
0,73,Not in universe,0,0,High school graduate,0.0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,-50000
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0.0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,-50000
2,18,Not in universe,0,0,10th grade,0.0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,-50000
3,9,Not in universe,0,0,Children,0.0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000
4,10,Not in universe,0,0,Children,0.0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,-50000

In [23]:
df_income.shape

(199523, 41)

Cross checkking min and max values in columns

In [24]:
df_income['wage_per_hour'].min()

0.0

In [25]:
# df_income.describe() df.loc[df['First Season'] > 1990, 'First Season'] = 1

np.percentile(df_income['wage_per_hour'],99)

1400.0

Checking for missing values

In [31]:
pd.isnull(df_income).sum().sort_values(ascending=False)

migration_sunbelt                   99696
migration_within_reg                99696
migration_msa                       99696
migration_reg                       99696
country_father                       6713
country_mother                       6119
country_self                         3393
hispanic_origin                       874
state_of_previous_residence           708
member_of_labor_union                   0
sex                                     0
race                                    0
major_occupation_code                   0
income_level                            0
major_industry_code                     0
full_parttime_employment_stat           0
marital_status                          0
enrolled_in_edu_inst_lastwk             0
wage_per_hour                           0
education                               0
occupation_code                         0
industry_code                           0
class_of_worker                         0
reason_for_unemployment                 0
region_of_previous_residence            0
capital_gains                           0
capital_losses                          0
dividend_from_Stocks                    0
tax_filer_status                        0
year                                    0
d_household_family_stat                 0
d_household_summary                     0
live_1_year_ago                         0
num_person_Worked_employer              0
family_members_under_18                 0
citizenship                             0
business_or_self_employed               0
fill_questionnaire_veteran_admin        0
veterans_benefits                       0
weeks_worked_in_year                    0
age                                     0
dtype: int64

In [5]:
# import numpy as np
# df_income['migration_sunbelt'] = np.where(df_income['migration_sunbelt']== np.nan,df_income['migration_sunbelt'].mode(),df_income['migration_sunbelt'])

In [13]:
# import numpy as np
# mi=df_income['migration_sunbelt'].mode()
# df_income['migration_sunbelt']=df_income['migration_sunbelt'].replace('nan',mi)
# # df_income['migration_sunbelt'].isnull().sum()

In [14]:
# df_income['migration_sunbelt'].isnull().sum()

99695

In [4]:
df_income['migration_sunbelt'].value_counts()

Not in universe    84054
No                  9987
Yes                 5786
Name: migration_sunbelt, dtype: int64

In [26]:
df_missing_columns=df_income[['hispanic_origin','state_of_previous_residence', 'migration_msa', 'migration_reg', 'migration_within_reg', 'migration_sunbelt', 'country_father', 'country_mother', 'country_self']]

In [27]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imp.fit(df_missing_columns)
imp.transform(df_missing_columns)

array([['All other', 'Not in universe', 'Nonmover', ..., 'United-States',
        'United-States', 'United-States'],
       ['All other', 'Arkansas', 'MSA to MSA', ..., 'United-States',
        'United-States', 'United-States'],
       ['All other', 'Not in universe', 'Nonmover', ..., 'Vietnam',
        'Vietnam', 'Vietnam'],
       ...,
       ['All other', 'Not in universe', 'Nonmover', ..., 'Poland',
        'Poland', 'Germany'],
       ['All other', 'Not in universe', 'Nonmover', ..., 'United-States',
        'United-States', 'United-States'],
       ['All other', 'Not in universe', 'Nonmover', ..., 'United-States',
        'United-States', 'United-States']], dtype=object)

In [28]:
df_clean=pd.DataFrame(imp.transform(df_missing_columns),columns=df_missing_columns.columns)

In [29]:
df_clean.isnull().sum()

hispanic_origin                0
state_of_previous_residence    0
migration_msa                  0
migration_reg                  0
migration_within_reg           0
migration_sunbelt              0
country_father                 0
country_mother                 0
country_self                   0
dtype: int64

In [31]:
df_income.describe()

,age,industry_code,occupation_code,wage_per_hour,capital_gains,capital_losses,dividend_from_Stocks,num_person_Worked_employer,business_or_self_employed,veterans_benefits,weeks_worked_in_year,year,income_level
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,15.352320,11.306556,49.558271,202.261208,34.344762,110.301770,1.956180,0.175438,1.514833,23.174897,94.499672,-43794.199165
std,22.310895,18.067129,14.454204,218.197568,1158.073097,245.652282,569.037893,2.365126,0.553694,0.851473,24.411488,0.500001,24126.148404
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000,-50000.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,94.000000,-50000.000000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,8.000000,94.000000,-50000.000000
75%,50.000000,33.000000,26.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,2.000000,52.000000,95.000000,-50000.000000
max,90.000000,51.000000,46.000000,1400.000000,8614.000000,1887.000000,4550.000000,6.000000,2.000000,2.000000,52.000000,95.000000,50000.000000

In [46]:
# df_clean=pd.DataFrame(imp.transform(df_income),columns=df_income.columns)
df_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 32 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   age                               199523 non-null  int64
 1   class_of_worker                   199523 non-null  object
 2   industry_code                     199523 non-null  int64
 3   occupation_code                   199523 non-null  int64
 4   education                         199523 non-null  object
 5   wage_per_hour                     199523 non-null  float64
 6   enrolled_in_edu_inst_lastwk       199523 non-null  object
 7   marital_status                    199523 non-null  object
 8   major_industry_code               199523 non-null  object
 9   major_occupation_code             199523 non-null  object
 10  race                              199523 non-null  object
 11  sex                               199523 non-null  object
 12  member_of_labor_union             199523 non-null  object
 13  reason_for_unemployment           199523 non-null  object
 14  full_parttime_employment_stat     199523 non-null  object
 15  capital_gains                     199523 non-null  float64
 16  capital_losses                    199523 non-null  float64
 17  dividend_from_Stocks              199523 non-null  float64
 18  tax_filer_status                  199523 non-null  object
 19  region_of_previous_residence      199523 non-null  object
 20  d_household_family_stat           199523 non-null  object
 21  d_household_summary               199523 non-null  object
 22  live_1_year_ago                   199523 non-null  object
 23  num_person_Worked_employer        199523 non-null  int64
 24  family_members_under_18           199523 non-null  object
 25  citizenship                       199523 non-null  object
 26  business_or_self_employed         199523 non-null  int64
 27  fill_questionnaire_veteran_admin  199523 non-null  object
 28  veterans_benefits                 199523 non-null  int64
 29  weeks_worked_in_year              199523 non-null  int64
 30  year                              199523 non-null  int64
 31  income_level                      199523 non-null  int64
dtypes: float64(4), int64(9), object(19)
memory usage: 48.7+ MB

Joining df_income and df_clean

In [52]:
df_cleaned_income = pd.concat([df_income,df_clean],axis=1)
df_cleaned_income.shape

(199523, 41)

In [50]:
df_cleaned_income.head()

,age,class_of_worker,industry_code,occupation_code,education,wage_per_hour,enrolled_in_edu_inst_lastwk,marital_status,major_industry_code,major_occupation_code,...,income_level,hispanic_origin,state_of_previous_residence,migration_msa,migration_reg,migration_within_reg,migration_sunbelt,country_father,country_mother,country_self
0,73,Not in universe,0,0,High school graduate,0.0,Not in universe,Widowed,Not in universe or children,Not in universe,...,-50000,All other,Not in universe,Nonmover,Nonmover,Nonmover,Not in universe,United-States,United-States,United-States
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0.0,Not in universe,Divorced,Construction,Precision production craft & repair,...,-50000,All other,Arkansas,MSA to MSA,Same county,Same county,Yes,United-States,United-States,United-States
2,18,Not in universe,0,0,10th grade,0.0,High school,Never married,Not in universe or children,Not in universe,...,-50000,All other,Not in universe,Nonmover,Nonmover,Nonmover,Not in universe,Vietnam,Vietnam,Vietnam
3,9,Not in universe,0,0,Children,0.0,Not in universe,Never married,Not in universe or children,Not in universe,...,-50000,All other,Not in universe,Nonmover,Nonmover,Nonmover,Not in universe,United-States,United-States,United-States
4,10,Not in universe,0,0,Children,0.0,Not in universe,Never married,Not in universe or children,Not in universe,...,-50000,All other,Not in universe,Nonmover,Nonmover,Nonmover,Not in universe,United-States,United-States,United-States

In [51]:
df_cleaned_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 41 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   age                               199523 non-null  int64
 1   class_of_worker                   199523 non-null  object
 2   industry_code                     199523 non-null  int64
 3   occupation_code                   199523 non-null  int64
 4   education                         199523 non-null  object
 5   wage_per_hour                     199523 non-null  float64
 6   enrolled_in_edu_inst_lastwk       199523 non-null  object
 7   marital_status                    199523 non-null  object
 8   major_industry_code               199523 non-null  object
 9   major_occupation_code             199523 non-null  object
 10  race                              199523 non-null  object
 11  sex                               199523 non-null  object
 12  member_of_labor_union             199523 non-null  object
 13  reason_for_unemployment           199523 non-null  object
 14  full_parttime_employment_stat     199523 non-null  object
 15  capital_gains                     199523 non-null  float64
 16  capital_losses                    199523 non-null  float64
 17  dividend_from_Stocks              199523 non-null  float64
 18  tax_filer_status                  199523 non-null  object
 19  region_of_previous_residence      199523 non-null  object
 20  d_household_family_stat           199523 non-null  object
 21  d_household_summary               199523 non-null  object
 22  live_1_year_ago                   199523 non-null  object
 23  num_person_Worked_employer        199523 non-null  int64
 24  family_members_under_18           199523 non-null  object
 25  citizenship                       199523 non-null  object
 26  business_or_self_employed         199523 non-null  int64
 27  fill_questionnaire_veteran_admin  199523 non-null  object
 28  veterans_benefits                 199523 non-null  int64
 29  weeks_worked_in_year              199523 non-null  int64
 30  year                              199523 non-null  int64
 31  income_level                      199523 non-null  int64
 32  hispanic_origin                   199523 non-null  object
 33  state_of_previous_residence       199523 non-null  object
 34  migration_msa                     199523 non-null  object
 35  migration_reg                     199523 non-null  object
 36  migration_within_reg              199523 non-null  object
 37  migration_sunbelt                 199523 non-null  object
 38  country_father                    199523 non-null  object
 39  country_mother                    199523 non-null  object
 40  country_self                      199523 non-null  object
dtypes: float64(4), int64(9), object(28)
memory usage: 62.4+ MB